
<div *ngIf="emailSent">
   
        please check your email 
        
    </div>

    <div *ngIf="!emailSent">

   
<form  [formGroup]="resetForm" (ngSubmit)="reset(resetForm.value)">
        <table >
                <tbody>
                <tr>
                <td>
                 Email:
                  
                </td>
                <td>
                    <input id="Email"  type="text" formControlName="Email" required>
                </td>
                </tr>
                
                <tr>
                <td>
                    <button mat-raised-button type="submit">reset</button>
                    
                </td>
            
                </tr>
                </tbody>
        </table>
    </form>
</div>