<!-- <p>salse-records!</p>
<div class="Center">

    <div *ngIf="role=='trucker'">
    
            <form [formGroup]="searchFormGroup">

                    <div>
                            <input type="text" placeholder="affiliate name" formControlName="name">
                            
                    </div>

                    <div>
                            <input type="number" placeholder="year" formControlName="year">
                    </div>
                   
                    <div>
                            <input type="number" placeholder="month" formControlName="month">
                            &nbsp;<button (click)="searchYM()">search by month</button>
                    </div>
                    
            </form>
    
            <div>&nbsp;</div>
    
           
    
            <div *ngIf="signedcount==0">
                0 in record 😑
            </div>
    
        <div *ngIf="signedcount!=0">
    
        
    
    </div>
    
  
    
    </div>
    
    
   
    </div> -->