<p style="text-align: center;">Learn to pass the coding interview with the pros.</p>
<p style="text-align: center;">Ex-Google, Facebook, Amazon Staff Engineers.</p>
<p style="text-align: center;">Learn the secrets of passing the engineer interviews.</p>
<p style="text-align: center;">Try our first episode for free.</p>
<p style="text-align: center;">watch now!</p>
<h3 style="text-align: center;">The fast way to get the 100k tech jobs</h3>
<p style="text-align: center;">Pro tech interview tutorials is an online training program &amp; professional community mentored by industry veterans Jin (Ex-Google Fellow) and John (Ex-Facebook, Amazon Staff Engineer). We coach you on how to pass the technical coding interview. And The Fastest Track to Top Companies<br />Develop technical knowledge. Improve programming skills. Build a career in software engineering.</p>
<p style="text-align: center;">We coach you on how to pass the technical coding interview covering from the starting basics to advanced topics - coding, algorithms, systems design in-depth, behavioral questions, resume tips, preparation strategy, common mistakes, mock interviews, technical deep-dives, must-know tips, offer negotiation, and more.</p>
<p style="text-align: center;">Fast-track your career. Save yourself the years of struggle.</p>
<p style="text-align: center;">This changes everything.</p>
<p></p>