<div class="Center">

<p><img src="https://firebasestorage.googleapis.com/v0/b/yugioh19-52045.appspot.com/o/websiteResource%2F1482334056_icon_27.gif?alt=media&token=66f1c0cb-f1fd-4d88-83d3-f430b480b1ce"></p>
</div>

<div class="Center">
    <p>By fans for fans</p>
</div>

<div class="Center">
    A free digital binder for Yu-Gi-Oh! Players.
    </div>

    <div class="Center" *ngIf="!login">
       
        
            <a mat-list-item routerLink="/emaillogin">
                <font color="red">
                <i class="material-icons">
                    ondemand_video
                </i>
                Login to enter Youtube giveaway.
                </font>
            </a>
          
    </div>
